<%= form_with(model: sinistro, local: true) do |form| %>
  <% if sinistro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sinistro.errors.count, "error") %> prohibited this sinistro from being saved:</h2>

      <ul>
      <% sinistro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :preco %>
    <%= form.text_field :preco %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.check_box :status %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.number_field :tipo %>
  </div>

  <div class="field">
    <%= form.label :descrição %>
    <%= form.text_area :descrição %>
  </div>

  <div class="field">
    <%= form.label :alugue_id %>
    <%= form.number_field :alugue_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
