<%= form_with(model: moto, local: true) do |form| %>
  <% if moto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(moto.errors.count, "error") %> prohibited this moto from being saved:</h2>

      <ul>
      <% moto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :marca %>
    <%= form.text_field :marca %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo %>
  </div>

  <div class="field">
    <%= form.label :modelo %>
    <%= form.text_field :modelo %>
  </div>

  <div class="field">
    <%= form.label :disponivel %>
    <%= form.check_box :disponivel %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
